# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
API.config.local

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# JetBrains cache/options directory
.idea/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

# Click-Once directory
/publish/*/

# The packages folder can be ignored because of Package Restore
**/packages/*
*.nupkg
/nuget/nuget.exe
/WebAPIs/N4T.Fleet.WebAPI/fleet_v2